.toolbox {
  background-color: #eee;
  height: 83vh;
  padding: 1em;
  position: 'relative';
  vertical-align: top;
}

.toolbox__header {
  margin-bottom: 3.75em;
  margin-top: 1.5625em;
}

.toolbox__header--title {
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.125em;
}