<aside class="toolbox col-sm-3 ">
  <app-toolbox-header></app-toolbox-header>
  <app-toolbox-elements></app-toolbox-elements>

  <section>

    <!--          <div id="js-edit-element-modal" class="edit-element-modal"> -->
    <div>
      <header class="edit-element-modal__header">
        <h2>Edit Design</h2>
      </header>
      <!-- EDIT INPUT GROUP -->
      <div class="edit-element-modal__body">
        <section class="edit-element-modal__input-label">
          <h2>Label</h2>
          <div>
            <label>Text</label>
            <input type="text">
          </div>
          <div>
            <label>Font Size</label>
            <input type="number">
          </div>
          <div>
            <label>Font Color</label>
            <input type="color">
          </div>
        </section>
        <br>
        <section class="edit-element-modal__input">
          <h2>Input</h2>
          <div class="background-color">
            <label for="">Backgound Color</label>
            <input id="js-background-color" type="color">
          </div>
          <div class="background-color">
            <label>Font Size</label>
            <input type="number">
          </div>
          <div class="background-color">
            <label>Width</label>
            <input type="range">
          </div>
          <div class="background-color">
            <label>Height</label>
            <input type="range">
          </div>
        </section>
        <section class="edit-element-modal__input">
          <h2>Input</h2>
          <div class="background-color">
            <label for="">Backgound Color</label>
            <input id="js-background-color" type="color">
          </div>
          <div class="background-color">
            <label>Font Size</label>
            <input type="number">
          </div>
          <div class="background-color">
            <label>Width</label>
            <input type="range">
          </div>
          <div class="background-color">
            <label>Height</label>
            <input type="range">
          </div>
        </section>
      </div>
    </div>
  </section>
</aside>