.btn {
    background: none;
    border: none;
    font-size: 0.9rem;
    border-radius: 0.3em;
    font-size: 1em;
    padding: 0.3em;
    vertical-align: middle;
}

.btn:hover {
    cursor: pointer
}

.btn-default {
    border: 0.1em solid #555;
}

.btn--primary {
    border: 0.1em solid $primary-color;
    background-color: $primary-color;
    color: $white;
}