@font-face {
  font-family: 'octa-desk';
  src: url('./assets/font/octa-desk.eot?71563385');
  src: url('./assets/font/octa-desk.eot?71563385#iefix') format('embedded-opentype'),
       url('./assets/font/octa-desk.woff2?71563385') format('woff2'),
       url('./assets/font/octa-desk.woff?71563385') format('woff'),
       url('./assets/font/octa-desk.ttf?71563385') format('truetype'),
       url('./assets/font/octa-desk.svg?71563385#octa-desk') format('svg');
  font-weight: normal;
  font-style: normal;
}