<div *ngIf="elementsLives" (click)="onClick($event)" title="Click to edit" id="checkbox" 
  [appDraggable]="{zone:'dropzone', draggdedElementId:'checkbox'}"
  class="checkbox-group draggable"
    [style.fontSize]="fontSize+'px'"
    [style.backgroundColor]="bgColor"
    [style.color]="fgColor"
    [style.width]="width+'px'"
    [style.height]="height+'px'">

  <h4 class="input-label-group__label">{{label || 'Checkbox'}}</h4>
  <ul>
    <li *ngFor="let chekboxItem of chekboxItems; trackBy:trackByChekboxItemId">
      <app-checkbox-item [label]="chekboxItem"></app-checkbox-item>
    </li>
  </ul>
  <button class="btn checkbox-group__btn-add-more" (click)="onAddCheckboxItem()">Add More</button>

  <section class="edition-elements">
    <app-page-element-edit-menu 
      [showOptionsMenu]="showOptionsMenu && !showEditMenu"  
      [deleteButtonPosition]="{'top':'-120px','left':'160px'}"
      (editMenuOpen)="onEditMenuOpen($event)"
      (elementDestroyed)="onElementDestroyed()">
    </app-page-element-edit-menu>
    
    <app-page-element-editor
      *ngIf="showEditMenu"
      (hide)="onHideEditModal()"
      [showModalMenu]="showEditMenu" 
      [(label)]="label"
      [(fontSize)]="fontSize"
      [(bgColor)]="bgColor"
      [(fgColor)]="fgColor"
      [(width)]="width"
      [(height)]="height">
    </app-page-element-editor>
  </section>

</div>