@import '../../../../../assets/styles/colors.scss';

.checkbox-group {
    &:hover{
        cursor: pointer;
    }
    &__label {
        display: block;
    }
    &__check {}
    &__btn-add-more {
        font-size: 0.8em;
        color:$main-font-color;
        text-decoration: underline;
    }
}