<div class="edit-element-modal">
  <section class="edit-element-modal__main">
    <section class="edit-element-modal__action">
      <button (click)="onClose()" class="btn btn-default edit-element-modal__action__button--close">
        <i class="icon">&#10006;</i>
      </button>
    </section>
    <div class="input-label-group">
      <label class="input-label-group__label">Button Text</label>
      <input class="input-label-group__input" type="text" [(ngModel)]="label">
    </div>
    <div class="font-size input-label-group">
      <label>Font Size</label>
      <input class="input-label-group__input" type="number" [(ngModel)]="fontSize" min="10">
    </div>
    <div class="backgound-color input-label-group">
      <label class="input-label-group__label">Background</label>
      <input class="input-label-group__input" type="color" [(ngModel)]="bgColor">
    </div>
    <div class="foreground-color input-label-group">
      <label class="input-label-group__label">Color</label>
      <input class="input-label-group__input" type="color" [(ngModel)]="fgColor">
    </div>
    <div class="width input-label-group">
      <label class="input-label-group__label">Width</label>
      <input class="input-label-group__input" type="range" [(ngModel)]="width">
    </div>
    <div class="height input-label-group">
      <label class="input-label-group__label">Height</label>
      <input class="input-label-group__input" type="range" [(ngModel)]="height">
    </div>
  </section>

</div>