<label class="checkbox-item">
  <input type="checkbox" class="checkbox-item__check">
  
  <span *ngIf="!isEditingLabel" class="checkbox-item__label">{{label}}</span>
  
  <input #input [autofocus]="true" [(ngModel)]="label" *ngIf="isEditingLabel" 
    (focusout)="onEditLabelDone()" (keyup.enter)="onEditLabelDone()" type="text" class="checkbox-item__change-label">
   
  <button class="btn checkbox-item__edit" (click)="onEditLabel(input)">
    <i class="icon icon-pencil"></i>
  </button>
  <button class="btn checkbox-item__close">
      <i class="icon icon-cancel-circled"></i>
    </button>
  
</label>