<div *ngIf="showOptionsMenu" class="page-element-edit-menu">
  <section class="page-element-edit-menu__top">
    <button class="btn page-element-edit-menu__button--delete" [ngStyle]="deleteButtonPosition">
      <i class="icon icon-cancel-circled"></i>
    </button>
  </section>
  <section class="page-element-edit-menu__bottoms">
    <button class="btn page-element-edit-menu__button page-element-edit-menu__button--edit" (click)="onEdit($event)" id="edit">
      <i class="icon icon-pencil"></i>
    </button>
    <button class="btn page-element-edit-menu__button page-element-edit-menu__button--code">
      <i class="icon icon-code"></i>
    </button>
  </section>

</div>