<div (click)="onClick($event)" id="input-label" [appDraggable]="{zone:'dropzone', draggdedElementId:'input-label'}" class="input-label-group draggable">
  <label class="input-label-group__label">Input</label>
  <input class="form-control input-label-group__input" id="input-label-group__input">


  <app-page-element-edit-menu 
    [showOptionsMenu]="showOptionsMenu && !showEditMenu"  
    [deleteButtonPosition]="{'top':'-60px','left':'40px'}"
    (editMenuOpen)="onEditMenuOpen($event)">
  </app-page-element-edit-menu>

  <app-input-edit-modal
    *ngIf="showEditMenu"
    (hide)="onHideEditModal()"
    [showModalMenu]="showEditMenu" 
    [(label)]="label"
    [(fontSize)]="fontSize"
    [(bgColor)]="bgColor"
    [(fgColor)]="fgColor"
    [(width)]="width"
    [(height)]="height">
  ></app-input-edit-modal> 
</div>