<div #buttonElment (click)="onClick($event)"  id="button" [appDraggable]="{zone:'dropzone', draggdedElementId:'button'}" data-type="button-group" class="button-group draggable">
  <button class="item-edit-menu">X</button>
  <h4>Button</h4>
  <button id="button-group-button" class="form-control button-group__button">OK</button>
  <div id="js-item-edit-area" class="item-edit-menu">
    <button>edit</button>
  </div>
  <app-page-element-edit-menu 
    [showOptionsMenu]="showOptionsMenu"  
    [deleteButtonPosition]="{'top':'-73px','left':'150px'}"
    [parent]="buttonElment"
    (editMenuOpen)="onEditMenuOpen($event)">
  </app-page-element-edit-menu>
  <app-button-edit-modal *ngIf="showEditMenu" ></app-button-edit-modal>
</div>