<div *ngIf="elementsLives" (click)="onClick($event)" id="button" 
  [appDraggable]="{zone:'dropzone', draggdedElementId:'button'}" 
  class="button-group draggable"
  [draggable]="!showEditMenu"
  >
  <button id="button-group-button"  
    class="button-group__button btn btn--primary"
    [style.fontSize]="fontSize+'px'"
    [style.backgroundColor]="bgColor"
    [style.color]="fgColor"
    [style.width]="width+'px'"
    [style.height]="height+'px'">{{label}}</button>
  
  <app-page-element-edit-menu 
    [showOptionsMenu]="showOptionsMenu && !showEditMenu"  
    [deleteButtonPosition]="{'top':'-60px','left':'40px'}"
    (editMenuOpen)="onEditMenuOpen($event)"
    (elementDestroyed)="onElementDestroyed()">
  </app-page-element-edit-menu>
 
  <app-page-element-editor
    *ngIf="showEditMenu"
    (hide)="onHideEditModal()"
    [showModalMenu]="showEditMenu" 
    [(label)]="label"
    [(fontSize)]="fontSize"
    [(bgColor)]="bgColor"
    [(fgColor)]="fgColor"
    [(width)]="width"
    [(height)]="height">
  </app-page-element-editor>
</div>




