<div (click)="onClick($event)" id="button" 
  [appDraggable]="{zone:'dropzone', draggdedElementId:'button'}" 
  class="button-group draggable"
  [draggable]="!showEditMenu"
  >
  <button id="button-group-button"  
    class="button-group__button btn btn--primary "
    [style.fontSize]="fontSize+'px'"
    [style.backgroundColor]="bgColor"
    [style.color]="fgColor"
    [style.width]="width+'px'"
    [style.height]="height+'px'">{{label}}</button>
  
  <app-page-element-edit-menu 
    [showOptionsMenu]="showOptionsMenu && !showEditMenu"  
    [deleteButtonPosition]="{'top':'-73px','left':'150px'}"
    (editMenuOpen)="onEditMenuOpen($event)">
  </app-page-element-edit-menu>
 
  <app-button-edit-modal
    *ngIf="showEditMenu"
    (hide)="onHideEditModal()"
    [showModalMenu]="showEditMenu" 
    [(label)]="label"
    [(fontSize)]="fontSize"
    [(bgColor)]="bgColor"
    [(fgColor)]="fgColor"
    [(width)]="width"
    [(height)]="height">
  </app-button-edit-modal>
</div>




