<section class="toolbox__elements">

  <ul>
    <li>
      <div id="input-label" data-type="input-group" class="input-label-group draggable" draggable="true">
        <button class="item-edit-menu">X</button>
        <label class="input-label-group__label">Input</label>
        <input class="form-control input-label-group__input" id="input-label-group__input">
        <div id="js-item-edit-area" class="item-edit-menu">
          <button>edit</button>
        </div>
      </div>
    </li>
    <li>
      <div id="checkbox-group" data-type="checkbox-group" class="checkbox-group draggable" draggable="true">
        <button class="item-edit-menu">X</button>
        <h4>Checkbox</h4>
        <label class="checkbox-group__label">
          <input type="checkbox" class="checkbox-group__check" id="checkbox-group__check"> Option 1
          <button class="item-edit-menu">X</button>
        </label>

        <label class="checkbox-group__label">
          <input type="checkbox" class="checkbox-group__check" id="checkbox-group__check"> Option 1
          <button class="item-edit-menu">X</button>
        </label>
        <label class="checkbox-group__label">
          <input type="checkbox" class="checkbox-group__check" id="checkbox-group__check"> Option 3
          <button class="item-edit-menu">X</button>
        </label>


        <div id="js-item-edit-area" class="item-edit-menu">
          <button>edit</button>
        </div>
      </div>
    </li>

    <li>
      <div id="button-group" data-type="button-group" class="button-group draggable" draggable="true">
        <button class="item-edit-menu">X</button>
        <h4>Button</h4>
        <button id="button-group-button" class="form-control button-group__button">OK</button>
        <div id="js-item-edit-area" class="item-edit-menu">
          <button>edit</button>
        </div>
      </div>
    </li>
  </ul>
</section>