.main-area {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 0.35em auto 0.3em auto;
    width: 99%;
    z-index: 1;
}

.toolbox,
.dropzone{
    display: inline-block;
}